@{
    ViewBag.Title = "About";
}
<h2>O firmie</h2>

<p>Jestesmy firma kurierska zajmujaca sie dostarczaniem przesylek i realizacja zamowien . Wspolpracujemy z wieloma korporacjami. Posiadamy wlasna flote samochodow i dzialamy na terenie wielu krajow.</p>
