@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Management panel</h1>
        <p class="lead">Aplikacja została stworzona w celu ułatwienia pracy w zarzadzaniu firma kurierska</p>       
    </center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Witamy na pokladzie!</h2>
        <p>
            Nasza firma powstala w 2018 roku . Jestesmy nowym liderem w branzy przewozowej . Dobro prowacownika jest dla nas zawsze najwazniejsze, dlatego stworzylismy dla Ciebie prosty panel obslugujacy ktory pomoze Ci w codziennej pracy.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Nasze pojazdy</h2>
        <p>Jezeli chcesz edytowac lub przegladac flote samochodow wcisnij przycisk poniżej.</p>
        <p><a class="btn btn-default" href="http://localhost:55471/Pojazdies">Pojazdy &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zobacz jak latwo dodac zamowienie</h2>
        <p>Wciśnij przycisk ponizej aby dodać zamowienie, zlecone przez klienta.</p>
        <p><a class="btn btn-default" href="http://localhost:55471/Przesyłki">Zamowienia &raquo;</a></p>
    </div>
</div>